/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

a {
  color: gray;
}

.header-image{
  height: 400px;
  width: 100%;
  background-image: url(img7ex/mv.jpg);
  background-position: bottom;
  background-size: cover;
}

.heading {
  color: gray;
  padding:20px;
}

main {
  width: 840px;
  margin: 50px auto;

}

.main-content {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid gray;
}

.main-text {
  color: gray;
}

